/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
5cbeff - azul forte
bcebf7 - azul claro
6C63FF - roxo forte
bfb7ff - roxo claro
bcccf7 - azul/roxo claro
*/

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 1.2rem;
  background: linear-gradient(180deg, #ffeded, #e6c1cf, #dbc5cf, #cebbbb);
  font-family: 'Fonte-Principal-italicBold', sans-serif;
}

.particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  max-width: 50rem;
  background: linear-gradient(120deg, #fff, #f0d2dd, #ffdbe6);
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  z-index: 1;
}

.header{
    margin-bottom: 2rem;
}

.foto-head {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #6C63FF;
  margin-bottom: 10px;
}

.nome{
    font-family: 'Fonte-Destaque', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #444;
}

.subtitulo {
  color: #666;
  font-size: 1rem;
  font-family: 'Fonte-Principal', sans-serif;
}

.frase-impacto {
  margin-top: 10px;
  color: #444;
  font-family: 'Fonte-Principal-italic', sans-serif;
}

.cta-button {
  display: block;
  background: #6C63FF;
  color: #fff;
  text-decoration: none;
  padding: .6rem;
  border-radius: 2rem;
  margin: 1.5rem 0;
  font-size: 1.3rem;
  font-weight: bold;
  transition: .4s;
  text-shadow: #613131 0px 0px 1.4px;
}

.cta-button:hover {
  background: #679ff5;
}

.servicos {
  margin-bottom: 1rem;
}

.title {
  color: #fafafa;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-shadow: #613131 0px 0px 2px;
  letter-spacing: 1px;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

}
.card {
  background: #bcccf7;
  font-size: 1.1rem;
  padding: .8rem;
  border-radius: .8rem;
  transition: 0.4s;
  width: 100%;
  margin-bottom: .8rem;
  text-decoration: none;
  color: #fff;
  text-shadow: #613131 0px 0px 1.4px;
}

.card i {
  margin-right: .3rem;
}

.card:hover {
  background: #679ff5;
}

.sobre-mim {
  margin-bottom: 2rem;
}

.SM-container-min, .SM-container-expanded {
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: #e6becc;
  color: #FFF;
  gap: .5rem;
  padding: 1rem 2rem;
  border-radius: .8rem;
}

.SM-text{
  font-size: 1.1rem;
  text-shadow: #613131 0px 0px 1px;
}

.SM-container-expanded {
  display: none;
}

.expand-button, .minimize-button {
  color: #706db4;
  cursor: pointer;
  font-size: 1.15rem;
  font-weight: bold;
}

.links {
  margin: 25px 0;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  background: #bcccf7;
  color: #FFF;
  text-shadow: #613131 0px 0px 1.4px;
  padding: 10px;
  border-radius: 8px;
  margin: 8px 0;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.1rem;

}
.links a:hover {
  background: #679ff5;
}

footer {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #777;
}



@font-face {
    font-family: Fonte-Destaque;
    src: url(./fontes/BonheurRoyale-Regular.ttf);
}

@font-face {
    font-family: Fonte-Principal;
    src: url(./fontes/Tinos-Regular.ttf);
}

@font-face {
    font-family: Fonte-Principal-italic;
    src: url(./fontes/Tinos-Italic.ttf);
}

@font-face {
    font-family: Fonte-Principal-bold;
    src: url(./fontes/Tinos-Bold.ttf);
}

@font-face {
    font-family: Fonte-Principal-italicBold;
    src: url(./fontes/Tinos-BoldItalic.ttf);
}